<!-- p137, p143 -->
<!-- bootstrap.js가 제이쿼리에 의존하므로 jquery를 먼저 선언 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.css"></script>

<!-- index.js 추가 -->
<!-- 스프링 부트는 기본적으로 src/main/resource/static에 위치한 자바스크립트, CSS, 이미지 등 정적 파일들은 URL에서 /로 설정 -->
<script src="/js/app/index.js"></script>
</body>
</html>